@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.bg-burgundy-900 {
    background-color: #6B2D6F; 
}

.bg-burgundy-700 {
    background-color: #9A4A8A; 
}

.bg-burgundy-500 {
    background-color: #E6B8D6;
}

.bg-burgundy-300 {
    background-color: #FBEAF3; 
}

.text-burgundy-900 {
    color: #4A154B;
}

.text-burgundy-700 {
    color: #7A1E6B;
}

.text-burgundy-500 {
    color: #df9aca;
}

.text-burgundy-300 {
    color: #f7d1e7;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}

.fade-in-delay {
    opacity: 0;
    animation: fadeIn 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
} 

